header {
    text-align: center;
    background-color: #007BFF;
    color: white;
    padding: 20px;
}

.contact, .education, .experience, .skills {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
body{
    background-color: aqua;
}